.purple {
  background: #b38bfa;
}

.pink {
  background: #ff79f2;
}

.skyblue {
  background: #43e6fc;
}

.orange {
  background: #f19576;
}

.blue {
  background: #0047ff;
}

.lightblue {
  background: #6691ff;
}
